div#container
{
   width: 1200px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#PageHeader4
{
   background-color: #FFFFFF;
   background-image: none;
   -moz-box-shadow: 4px 4px 2px #D3D3D3;
   -webkit-box-shadow: 4px 4px 2px #D3D3D3;
   box-shadow: 4px 4px 2px #D3D3D3;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#SlideShow1 .image
{
   border-width: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#SlideShow1
{
   -moz-box-shadow: 3px 3px 2px #C0C0C0;
   -webkit-box-shadow: 3px 3px 2px #C0C0C0;
   box-shadow: 3px 3px 2px #C0C0C0;
}
#Layer2
{
   background-color: #D3D3D3;
   background-color: rgba(211,211,211,0.71);
   background-image: none;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#Layer1
{
   background-color: #8EC537;
   background-image: none;
}
#about
{
   background-color: #13A89E;
   background-image: none;
}
#wb_Heading7
{
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
   padding: 0px 0px 0px 0px;
}
#Heading7
{
   color: #FFFFFF;
   font-family: Verdana;
   font-weight: bold;
   font-size: 43px;
   margin: 0;
   text-align: center;
}
#footer
{
   background-color: #000000;
   background-image: none;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 15px 0px 15px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text6 div
{
   text-align: center;
}
#Button2
{
   border: 1px #FFFFFF solid;
   border-radius: 4px;
   background-color: #13A89E;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
}
#Button2:hover
{
   background-color: #FFFFFF;
   color: #13A89E;
   -webkit-transition: background-color 500ms linear 0ms, color 500ms linear 0ms;
   -moz-transition: background-color 500ms linear 0ms, color 500ms linear 0ms;
   transition: background-color 500ms linear 0ms, color 500ms linear 0ms;
}
#Button2
{
   -webkit-transition: all 500ms linear 0ms;
   -moz-transition: all 500ms linear 0ms;
   transition: all 500ms linear 0ms;
}
#wb_Heading1
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px #FFFFFF solid;
   padding: 5px 0px 0px 5px;
   text-align: left;
}
#Heading1
{
   color: #808080;
   font-family: "Comic Sans MS";
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: left;
}
#Heading1 a
{
   color: #808080;
   text-decoration: none;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text1 div
{
   text-align: justify;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#portfolio
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_Text12 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text12 div
{
   text-align: left;
}
#wb_BulletedList1
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   background-image: none;
}
#wb_BulletedList1 .bullet
{
   color: #FFFFFF;
   float: left;
   font-family: "Comic Sans MS";
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 10px;
   text-align: left;
   vertical-align: middle;
   width: 25px;
}
#wb_BulletedList1 .item
{
   margin-left: 47px;
   padding: 10px 0 10px 0;
   vertical-align: top;
}
#wb_BulletedList1 .item0
{
   font-family: Arial;
   font-size: 13px;
   text-align: left;
}
#wb_BulletedList1 .item1
{
   font-family: Arial;
   font-size: 13px;
   text-align: left;
}
#wb_BulletedList1 .item2
{
   font-family: Arial;
   font-size: 13px;
   text-align: left;
}
#wb_BulletedList1 .item3
{
   font-family: Arial;
   font-size: 13px;
   text-align: left;
}
#wb_BulletedList1 .item4
{
   font-family: Arial;
   font-size: 13px;
   text-align: left;
}
#wb_BulletedList1 .item5
{
   font-family: Arial;
   font-size: 13px;
   text-align: left;
}
#wb_BulletedList2
{
   border: 0px transparent solid;
   background-color: transparent;
   background-image: none;
}
#wb_BulletedList2 .bullet
{
   color: #FFFFFF;
   float: left;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 10px;
   text-align: left;
   vertical-align: middle;
   width: 29px;
}
#wb_BulletedList2 .item
{
   margin-left: 51px;
   padding: 10px 0 10px 0;
   vertical-align: top;
}
#wb_BulletedList2 .item0
{
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
   text-align: left;
}
#wb_BulletedList2 .item1
{
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
   text-align: left;
}
#wb_BulletedList2 .item2
{
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
   text-align: left;
}
#wb_BulletedList2 .item3
{
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
   text-align: left;
}
#wb_BulletedList2 .item4
{
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
   text-align: left;
}
#wb_BulletedList2 .item5
{
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
   text-align: left;
}
#wb_Text14 
{
   background-color: #BADB82;
   background-color: rgba(186,219,130,0.98);
   background-image: none;
   border: 0px #0565AA solid;
   border-radius: 12px;
   padding: 8px 8px 8px 8px;
   margin: 0;
   text-align: center;
}
#wb_Text14
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 16px;
}
#wb_Text14 div
{
   text-align: center;
   white-space: nowrap;
}
#wb_Text14:hover
{
   background-color: #0565AA;
   -webkit-transition: background-color 250ms linear 0ms;
   -moz-transition: background-color 250ms linear 0ms;
   transition: background-color 250ms linear 0ms;
}
#wb_Text15 
{
   background-color: #BADB82;
   background-color: rgba(186,219,130,0.98);
   background-image: none;
   border: 0px #0565AA solid;
   border-radius: 12px;
   padding: 8px 8px 8px 8px;
   margin: 0;
   text-align: center;
}
#wb_Text15
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 16px;
}
#wb_Text15 div
{
   text-align: center;
   white-space: nowrap;
}
#wb_Text15:hover
{
   background-color: #0565AA;
   -webkit-transition: background-color 250ms linear 0ms;
   -moz-transition: background-color 250ms linear 0ms;
   transition: background-color 250ms linear 0ms;
}
#wb_Text13 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 3px 3px 3px 3px;
   margin: 0;
   text-align: justify;
}
#wb_Text13 div
{
   text-align: justify;
}
#wb_Text16 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text16 div
{
   text-align: left;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 2px 0px 0px 3px;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#Image2
{
   border-width: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text17 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text17 div
{
   text-align: left;
}
#wb_Text18 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text18 div
{
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 3px 3px 3px 3px;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text19 
{
   background-color: #0565AA;
   background-color: rgba(5,101,170,0.98);
   background-image: none;
   border: 0px #0565AA solid;
   border-radius: 12px;
   padding: 8px 8px 8px 8px;
   margin: 0;
   text-align: center;
}
#wb_Text19
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 16px;
}
#wb_Text19 div
{
   text-align: center;
   white-space: nowrap;
}
#wb_Text19:hover
{
   background-color: #8EC537;
   -webkit-transition: background-color 250ms linear 0ms;
   -moz-transition: background-color 250ms linear 0ms;
   transition: background-color 250ms linear 0ms;
}
#Layer3
{
   background-color: transparent;
   background-image: none;
}
#Image3
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text20 
{
   background-color: #0565AA;
   background-color: rgba(5,101,170,0.98);
   background-image: none;
   border: 0px #0565AA solid;
   border-radius: 18px;
   padding: 8px 8px 8px 8px;
   margin: 0;
   text-align: center;
}
#wb_Text20
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 16px;
}
#wb_Text20 div
{
   text-align: center;
   white-space: nowrap;
}
#wb_Text20:hover
{
   background-color: #86B733;
   -webkit-transition: background-color 250ms linear 0ms;
   -moz-transition: background-color 250ms linear 0ms;
   transition: background-color 250ms linear 0ms;
}
#Image4
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text21 
{
   background-color: #0565AA;
   background-color: rgba(5,101,170,0.98);
   background-image: none;
   border: 0px #0565AA solid;
   border-radius: 18px;
   padding: 8px 8px 8px 8px;
   margin: 0;
   text-align: center;
}
#wb_Text21
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 16px;
}
#wb_Text21 div
{
   text-align: center;
   white-space: nowrap;
}
#wb_Text21:hover
{
   background-color: #86B733;
   -webkit-transition: background-color 250ms linear 0ms;
   -moz-transition: background-color 250ms linear 0ms;
   transition: background-color 250ms linear 0ms;
}
#Image5
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text22 
{
   background-color: #0565AA;
   background-color: rgba(5,101,170,0.98);
   background-image: none;
   border: 0px #0565AA solid;
   border-radius: 18px;
   padding: 8px 8px 8px 8px;
   margin: 0;
   text-align: center;
}
#wb_Text22
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 16px;
}
#wb_Text22 div
{
   text-align: center;
   white-space: nowrap;
}
#wb_Text22:hover
{
   background-color: #86B733;
   -webkit-transition: background-color 250ms linear 0ms;
   -moz-transition: background-color 250ms linear 0ms;
   transition: background-color 250ms linear 0ms;
}
#wb_Text23 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text23 div
{
   text-align: center;
}
#wb_Text24 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text24 div
{
   text-align: center;
}
#wb_Text25 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text25 div
{
   text-align: center;
}
#wb_Text26 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text26 div
{
   text-align: center;
}
#wb_Text27 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text27 div
{
   text-align: center;
}
#wb_Text28 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text28 div
{
   text-align: center;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text5 div
{
   text-align: center;
}
#Image8
{
   border-width: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_CssMenu4
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
}
#wb_CssMenu4 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_CssMenu4 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 12.49%;
}
#wb_CssMenu4 a
{
   display: block;
   float: left;
   color: #333333;
   border: 0px #CCCCCC solid;
   background-color: #FFFFFF;
   background-image: none;
   font-family: "Courier New";
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 100%;
   height: 40px;
   padding: 0px 0px 0px 0px;
   vertical-align: middle;
   line-height: 40px;
   text-align: center;
}
#wb_CssMenu4 li:hover a, #wb_CssMenu4 a:hover, #wb_CssMenu4 .active
{
   color: #FFFFFF;
   background-color: #97CA42;
   background-image: none;
   border: 0px #2E6DA4 solid;
}
#wb_CssMenu4 li.firstmain
{
   padding-left: 0px;
}
#wb_CssMenu4 li.lastmain
{
   padding-right: 0px;
}
#wb_CssMenu4 li:hover, #wb_CssMenu4 li a:hover
{
   position: relative;
}
#wb_CssMenu4 a.withsubmenu
{
   padding: 0 0px 0 0px;
   width: 100%;
   background-image: none;
}
#wb_CssMenu4 li:hover a.withsubmenu, #wb_CssMenu4 a.withsubmenu:hover
{
   background-image: none;
}
#wb_CssMenu4 ul ul
{
   position: absolute;
   left: 0;
   top: 0;
   visibility: hidden;
   width: 150px;
   height: auto;
   border: none;
   background-color: transparent;
}
#wb_CssMenu4 ul :hover ul
{
   left: 0px;
   top: 40px;
   padding-top: 0px;
   visibility: visible;
}
#wb_CssMenu4 .firstmain:hover ul
{
   left: 0px;
}
#wb_CssMenu4 li li
{
   width: 150px;
   padding: 0 0px 1px 0px;
   border: 0px #C0C0C0 solid;
   border-width: 0 0px;
}
#wb_CssMenu4 li li.firstitem
{
   border-top: 0px #C0C0C0 solid;
}
#wb_CssMenu4 li li.lastitem
{
   border-bottom: 0px #C0C0C0 solid;
}
#wb_CssMenu4 li li.lastitem
{
   padding-bottom: 0px;
}
#wb_CssMenu4 ul ul a, #wb_CssMenu4 ul :hover ul a
{
   float: none;
   margin: 0;
   width: 140px;
   height: auto;
   white-space: normal;
   padding: 10px 4px 10px 4px;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #CCCCCC solid;
   border-radius: 8px;
   color: #333333;
   font-family: Verdana;
   font-weight: normal;
   font-size: 11px;
   font-style: normal;
   line-height: 11px;
   text-align: left;
   text-decoration: none;
}
#wb_CssMenu4 ul :hover ul .firstitem a
{
   margin-top: 0px;
}
#wb_CssMenu4 ul ul :hover a, #wb_CssMenu4 ul ul a:hover, #wb_CssMenu4 ul ul :hover ul :hover a, #wb_CssMenu4 ul ul :hover ul a:hover
{
   background-color: #86B733;
   background-image: none;
   border: 1px #2E6DA4 solid;
   color: #FFFFFF;
}
#wb_CssMenu4 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#Layer4
{
   background-color: #333333;
   background-image: none;
}
#wb_Text31 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 10px 0px 10px 0px;
   margin: 0;
   text-align: left;
}
#wb_Text31 div
{
   text-align: left;
}
#wb_Text32 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 20px 0px 20px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text32 div
{
   text-align: center;
}
#wb_FontAwesomeIcon4
{
   background-color: #333333;
   background-image: none;
   border: 2px #FFFFFF solid;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
}
#wb_FontAwesomeIcon4:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px #FFFFFF solid;
}
#FontAwesomeIcon4
{
   height: 16px;
   width: 16px;
}
#FontAwesomeIcon4 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 16px;
   vertical-align: middle;
   width: 9px;
}
#wb_FontAwesomeIcon4:hover i
{
   color: #13A89E;
}
#wb_FontAwesomeIcon4
{
   transform: 0,1.0,1.0,0,0,0,0;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon4:hover
{
   -webkit-transform: rotate(360deg) ;
   -moz-transform: rotate(360deg) ;
   transform: rotate(360deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon5
{
   background-color: #333333;
   background-image: none;
   border: 2px #FFFFFF solid;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
}
#wb_FontAwesomeIcon5:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px #FFFFFF solid;
}
#FontAwesomeIcon5
{
   height: 16px;
   width: 16px;
}
#FontAwesomeIcon5 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 16px;
   vertical-align: middle;
   width: 15px;
}
#wb_FontAwesomeIcon5:hover i
{
   color: #13A89E;
}
#wb_FontAwesomeIcon5
{
   transform: 0,1.0,1.0,0,0,0,0;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon5:hover
{
   -webkit-transform: rotate(360deg) ;
   -moz-transform: rotate(360deg) ;
   transform: rotate(360deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_Text33 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 20px 0px 20px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text33 div
{
   text-align: center;
}
#wb_FontAwesomeIcon6
{
   background-color: #333333;
   background-image: none;
   border: 2px #FFFFFF solid;
   border-radius: 50%;
   text-align: center;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
}
#wb_FontAwesomeIcon6:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px #FFFFFF solid;
}
#FontAwesomeIcon6
{
   height: 16px;
   width: 16px;
}
#FontAwesomeIcon6 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 16px;
   vertical-align: middle;
   width: 14px;
}
#wb_FontAwesomeIcon6:hover i
{
   color: #13A89E;
}
#wb_FontAwesomeIcon6
{
   transform: 0,1.0,1.0,0,0,0,0;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon6:hover
{
   -webkit-transform: rotate(360deg) ;
   -moz-transform: rotate(360deg) ;
   transform: rotate(360deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_Text34 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 10px 0px 10px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text34 div
{
   text-align: center;
}
#wb_Text35 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 20px 0px 20px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text35 div
{
   text-align: center;
}
#wb_Text36 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 10px 0px 10px 0px;
   margin: 0;
   text-align: left;
}
#wb_Text36 div
{
   text-align: left;
}
#wb_FontAwesomeIcon12
{
   background-color: transparent;
   background-image: none;
   border: 0px #245580 solid;
   text-align: center;
   padding: 0px 0px 0px 0px;
   vertical-align: top;
}
#wb_FontAwesomeIcon12:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px #245580 solid;
}
#FontAwesomeIcon12
{
   height: 35px;
   width: 42px;
}
#FontAwesomeIcon12 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 35px;
   line-height: 35px;
   vertical-align: middle;
   width: 20px;
}
#wb_FontAwesomeIcon12:hover i
{
   color: #86B733;
}
#wb_FontAwesomeIcon12:hover
{
   background-color: #86B733;
   -webkit-transition: background-color 250ms linear 0ms;
   -moz-transition: background-color 250ms linear 0ms;
   transition: background-color 250ms linear 0ms;
}
#wb_FontAwesomeIcon13
{
   background-color: transparent;
   background-image: none;
   border: 0px #245580 solid;
   text-align: center;
   padding: 0px 0px 0px 0px;
   vertical-align: top;
}
#wb_FontAwesomeIcon13:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px #245580 solid;
}
#FontAwesomeIcon13
{
   height: 30px;
   width: 30px;
}
#FontAwesomeIcon13 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 30px;
   line-height: 30px;
   vertical-align: middle;
   width: 23px;
}
#wb_FontAwesomeIcon13:hover i
{
   color: #86B733;
}
#wb_Text37 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 10px 0px 10px 0px;
   margin: 0;
   text-align: left;
}
#wb_Text37 div
{
   text-align: left;
}
#wb_FontAwesomeIcon14
{
   background-color: transparent;
   background-image: none;
   border: 0px #245580 solid;
   text-align: center;
   padding: 0px 0px 0px 0px;
   vertical-align: top;
}
#wb_FontAwesomeIcon14:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px #245580 solid;
}
#FontAwesomeIcon14
{
   height: 30px;
   width: 40px;
}
#FontAwesomeIcon14 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 30px;
   line-height: 30px;
   vertical-align: middle;
   width: 29px;
}
#wb_FontAwesomeIcon14:hover i
{
   color: #86B733;
}
#wb_CloseButton1, #wb_CloseButton2, #wb_CloseButton3
{
   position: fixed !important;
   left: auto !important;
   right: 10px !important;
   top: 10px !important;   
}
